<!DOCTYPE html>
<html>
<body>

<form method="POST" action="/write">
  First name:<br>
  <input type="text" name="firstname">
  <br>
  Last name:<br>
  <input type="text" name="lastname" >
  <br><br>
  <button type="submit" value="Submit"> Submit </button>
</form>
<a href="/view">See File</a>
</body>
</html>
