<!DOCTYPE html>
<html lang="en">
<h1><%= g1.store %></h1>
<ul>
    <% g1.list.forEach(function(item) { %>
        <li><%= item %></li>
    <% }); %>
</ul>
<h1><%= g2.store %></h1>
<ul>
    <% g2.list.forEach(function(item) { %>
        <li><%= item %></li>
    <% }); %>
</ul>

<html>
